@import url(../description/description.css);
@import url(../digits/digits.css);
@import url(../oakley/oakley.css);
@import url(../technics/technics.css);
@import url(../techniques/techniques.css);

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
