.kaufman__triangle {
  background-image: url(/how-to-learn/images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  position: absolute;
  background-size: cover;
  background-position: center;
  top: 0px;
  right: -210px;
  animation: header__square-pic-rotation 20s linear infinite;
}
