.kaufman__triangle {
  background-image: url(../../../../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  position: absolute;
  background-size: cover;
  background-position: center;
  top: 0px;
  right: -210px;
}
