.header__subtitle {
  width: 388px;
  position: absolute;
  margin-left: 64px;
  bottom: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 3;
}
