@import url(../footer/__author/footer__author.css);
@import url(../footer/__column/column-heading.css);
@import url(../footer/__column/column-link.css);
@import url(../footer/__column/column-links.css);
@import url(../footer/__column/footer__column.css);
@import url(../footer/__column/_content_copyright/footer__column_content_copyright.css);
@import url(../footer/__columns/footer__columns.css);
@import url(../footer/__social-icon/footer__social-icon.css);

.footer {
  min-height: 350px;
  box-sizing: border-box;
  background-color:#1f1f1f;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;
}
