.footer__column-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0px;
  cursor: pointer;
  transition: 1s linear;
}

.footer__column-links :hover {
  opacity: .1;
}
