.cards {
  width: 80%;
  padding-left: 150px;
  box-sizing: border-box;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
